{% extends ('@MoneydropFront/Default/layout.html.twig') %}

{% block title %}{{ parent() }} - Liste des questions{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container well">
        <table class="table table-bordered">
            <caption>
                <h3>Liste des questions</h3>
            </caption>
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Niveau</th>
                    <th>Thème</th>
                </tr>
            </thead>
            {% for question in questions %}
                <tr>
                    <td>{{ question.name }}</td>
                    <td>{{ question.level }}</td>
                    <td>{{ question.theme.name }}</td>
                    <td><a href="{{ path('moneydrop_front_edit_question', { 'id': question.id }) }}" class="text-primary">Editer</a></td>
                    <td><a href="{{ path('moneydrop_front_remove_question', { 'id': question.id }) }}" class="text-danger">Supprimer</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}