<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('moneydrop_front_homepage') }}">
            <img alt="logo" class="img-rounded" height="79" src="{{ asset('bundles/moneydropfront/images/MD_logo.png') }}" width="143"></a>
        <ul class="nav navbar-nav">
            <li><a href="{{ path('moneydrop_front_game_theme') }}">Jeu</a></li>
            <li><a href="{{ path('moneydrop_front_history') }}">
                    <span class="glyphicon glyphicon-list"></span> Classement</a></li>
            <li><a href="{{ path('moneydrop_front_parameters') }}">
                    <span class="glyphicon glyphicon-cog"></span> Paramètres</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('fos_user_registration_register') }}">
                    <span class="glyphicon glyphicon-user"></span> Inscription</a></li>
            <li><a href="{{ path('fos_user_security_login') }}" data-toggle="modal" data-target="#connect">
                    <span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
        </ul>
    </div>
</nav>