<nav class="col-md-2">
    <div class="container-fluid">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="{{ path('moneydrop_front_homepage') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Thème<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('moneydrop_front_add_theme') }}">Ajouter</a></li>
                <li><a href="{{ path('moneydrop_front_list_theme') }}">Lister</a></li>
            </ul>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Question<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('moneydrop_front_add_question') }}">Ajouter</a></li>
                <li><a href="{{ path('moneydrop_front_list_question') }}">Lister</a></li>
            </ul>
        </li>
        <li role="presentation"><a href="{{ path('moneydrop_front_list_parameters') }}">Paramètres du jeu</a></li>
    </ul>
    </div>
</nav>