{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - Paramètres{% endblock %}

{% block body %}
    <div>
        <ol>
            <li><a href="{{ path('moneydrop_front_add_theme') }}">Ajouter un thème</a></li>
            <li><a href="{{ path('moneydrop_front_list_theme') }}">Lister les thèmes</a></li>
            <li><a href="{{ path('moneydrop_front_add_question') }}">Ajouter une question</a></li>
            <li><a href="{{ path('moneydrop_front_list_question') }}">Lister les questions</a></li>
            <li><a href="{{ path('moneydrop_front_list_parameters') }}">Changer les paramètres du jeu</a></li>
            <li><a href="{{ path('moneydrop_front_homepage') }}">Retour à l'accueil</a></li>
        </ol>
    </div>
{% endblock %}