{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - Paramètres{% endblock %}

{% block body %}
    <div>
        <ol>
            <li><a href="{{ path('moneydrop_front_list_theme') }}">Gérer les thèmes</a></li>
            <li><a href="{{ path('moneydrop_front_list_question') }}">Gérer les questions</a></li>
            <li><a href="{{ path('moneydrop_front_list_parameters') }}">Changer les paramètres du jeu</a></li>
            <li><a href="{{ path('moneydrop_front_homepage') }}">Retour à l'accueil</a></li>
        </ol>
    </div>
{% endblock %}